/* AdminSideBar.css */

body {
    margin: 0;
    padding: 0;
}

.toggle-button {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 50;
    padding: 8px;
    background-color: #f3f4f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 250px;
    height: 100vh;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-content {
    padding: 24px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 40px 0 0 0;
}

.menu-item {
    display: block;
    padding: 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.content-container {
    background: url('../assets/dashboard-background-sx.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 16px;
}
