/* MyOrders.css */

.orders-section {
    padding: 24px 0; /* Vertical padding */
    position: relative; /* For potential absolute positioning of child elements */
}

.orders-container {
    width: 100%;
    max-width: 1200px; /* Set a maximum width for the container */
    padding: 0 16px; /* Horizontal padding */
    margin: 0 auto; /* Center the container */
    margin-top: 5%;
}
.orders-list {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 24px; /* Space between orders */
}

.order-card {
    padding: 24px; /* Inner padding */
    border: 1px solid #e5e7eb; /* Light border */
    border-radius: 20px; /* Rounded corners */
    transition: border-color 0.5s; /* Smooth transition for border color */
}

.order-card:hover {
    border-color: #9ca3af; /* Change border color on hover */
}

.order-summary-title {
    font-family: 'Manrope', sans-serif; /* Specify font */
    font-weight: bold;
    font-size: 24px; /* Title size */
    color: black; /* Title color */
    padding-bottom: 24px; /* Space below title */
    border-bottom: 1px solid #e5e7eb; /* Bottom border */
}

.order-data {
    padding: 24px 0; /* Space above and below order items */
    border-bottom: 1px solid #e5e7eb; /* Divider */
}

.order-item {
    display: flex;
    justify-content: space-between; /* Space between item name and price */
    margin-bottom: 16px; /* Space below each item */
}

.order-item-name {
    font-weight: 500; /* Medium font weight */
    font-size: 18px; /* Item name size */
    color: #1f2937; /* Item name color */
}

.order-item-price {
    font-weight: 500; /* Medium font weight */
    font-size: 18px; /* Price size */
    color: #1f2937; /* Price color */
}

.order-total, .order-detail {
    display: flex;
    justify-content: space-between; /* Space between label and value */
    padding-top: 16px; /* Space above each detail */
}

.total-label, .detail-label {
    font-weight: normal; /* Normal weight */
    font-size: 20px; /* Label size */
    color: black; /* Label color */
}

.total-amount, .detail-value {
    font-weight: bold; /* Bold weight for totals */
    font-size: 20px; /* Value size */
    color: #4f46e5; /* Color for amounts */
}
